#tabs {
    height: 92%;
}
.tab { 
    width: 99% !important; 
}
.tab_content {
    width: 99.3% !important;
}
.tab_content iframe {
    background-color: #fff;
    border: none !important;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
#hg_nav {
    top: 6px;
}
#address {
    position: absolute;
    top: 9px;
    left: 250px;
    color: #1F0F04;
    font-weight: bold;
    font-size: 1.2em;
    font-family: helvetica;
}
#electrical {
    overflow-x: hidden;
}
